block vars

doctype html

!= '\n<!-- Powerd by Kiwi -->\n'

html

	head
		meta(charset='utf-8')
		meta(name='application-name' content='Kiwi')
		meta(name='referrer' content='origin')
		meta(property='og:site_name' content= wiki.name)
		meta(name='theme-color' content='#a9b979')
		link(rel='icon' href= icon || '/favicon.ico')

		title
			block title
				= title || wiki.name

		block desc
			meta(name='description' content= desc)

		block meta

		block og
			meta(property='og:image' content= wiki.logoUrl)

		script(src='/_assets/app.js' defer)
		script(src='https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit' async defer)

		!= wiki.customHtml

	body
		noscript: p
			| JavaScriptを有効にしてください
			br
			| Please turn on your JavaScript
		div#app
