block vars

doctype html

!= '\n<!-- Powerd by Kiwi -->\n'

html

	head
		meta(charset='utf-8')
		meta(name='application-name' content='Kiwi')
		meta(name='referrer' content='origin')
		meta(property='og:site_name' content= wikiName)
		link(rel='icon' href= icon || '/favicon.ico')

		title
			block title
				= title || wikiName

		block desc
			meta(name='description' content= desc)

		block meta

		block og
			meta(property='og:image' content=img)

		script(src='/assets/app.js' defer)

	body
		noscript: p
			| JavaScriptを有効にしてください
			br
			| Please turn on your JavaScript
		div#app
